/* .dark {
  background-color: brown;
  color: #fff;
}

.light {
  background-color: blue;
  color: cadetblue;
}

h1 {
  color: red;
} */

.main {
  display: flex;
  flex-direction: row;
  overflow: auto;
}